*
{
    margin:0;
    padding:0;
    list-style:none;
}

body
{
    background:url("images/bgbody.png") repeat-x;
}

div#wrapper
{
    width:980px;
    margin:0 auto;   
}

div#wrapper div#header
{
    height:82px;
    position:relative;
}

div#wrapper div#header h1
{
    width:171px;
    height:82px;  
    background-image: url("images/logotipo.gif");
}

div#wrapper div#header h1 a
{
    width:171px;
    height:37px;
    display:block;
    position:absolute;
    top:28px;
    text-indent:-9000px;
    overflow:hidden;
}

div#wrapper div#header div.login
{
    position:absolute;
    top:14px;
    right:0;
}

div#wrapper div#header div.login ul li
{
    float:left;
    margin-left:14px;
}

div#wrapper div#header div.login ul li a
{
    color: #98A9CA;
    text-decoration:none;
    margin:2px 0 3px 14px;
    display:block;
}

div#wrapper div#header div.login ul li a:hover
{
    text-decoration:underline;
}

div#wrapper div#content
{
    color: #98A9CA;
    font-weight: normal;
}

div#wrapper div#content div.sideLeft
{
    width:548px;
    min-height:624px;
    float:left;
    background:url("images/bgsideleft.png") no-repeat;
}

div#wrapper div#content div.sideRight
{
    width:432px;
    min-height:624px;
    float:right;
    background:url("images/bgsideright.png") no-repeat;
}

div#wrapper div#footer
{
    min-height:135px;  
    clear:both;
    background:url("images/bgfooter.gif") no-repeat;
}

div#wrapper input[type="text"], div#wrapper input[type="password"]
{
    border: 1px solid #1D2A5B;
    margin: 0;
    width: 145px; 
    padding: 3px 0 4px 3px;
}

div#wrapper input[type="submit"]
{
    width:50px;
    height:25px;
    border:0;
    margin-top:19px;
    text-indent:-9000px;
    background: url("images/btnEntrar.gif") no-repeat;
}

div#wrapper input[type="checkbox"]
{
    float:left;
    margin-top:3px;
}

div#wrapper label
{
    cursor:pointer;    
    color:#FFF;
    display:block;
    padding:0 0 4px 2px;
	
}

div#wrapper label.persist
{
    float:left;
    color: #98A9CA;
    padding-left: 4px; 
	margin-top:2px;
}

div#wrapper button, div#wrapper input, div#wrapper label, div#wrapper a
{
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}

div#wrapperMobile
{
    display:none;    
}
 